<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>463140863</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
	</dict>
	<key>WFWorkflowClientVersion</key>
	<string>5037.0.17</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.takescreenshot</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B672B790-648B-4CFE-A047-73FBA36FC11F</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appintentexecution</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>screenshot</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>B672B790-648B-4CFE-A047-73FBA36FC11F</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>Screenshot</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>00862EA9-D38F-408C-B42C-1DC4D868EB3B</string>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>TeamIdentifier</key>
					<string>NVWW4LND82</string>
					<key>BundleIdentifier</key>
					<string>com.yado.yadoA</string>
					<key>Name</key>
					<string>用截图记账</string>
					<key>AppIntentIdentifier</key>
					<string>ScreenshotBookkeepingIntent</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
	</array>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
</dict>
</plist>
